<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Games</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Logo</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Description</th>
                <th>Average Rating</th>
                <th>Reviews</th>
                <th>Edit</th>
                <% if (user) { %>
                    <th>Remove Game</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% gameDocs.forEach(function(game) { %>
                <tr>
                    <td><img src="<%= game.logo %>" alt="Game Logo" class="gamesIdxLogo"></td>
                    <td><%= game.title %></td>
                    <td><%= game.genre %></td>
                    <td><%= game.description %></td>

                    <td>
                        <% let ratingsTotal = 0 %>
                        <% game.reviews.forEach(function(r) { %>
                            <% ratingsTotal += r.rating %>
                        <% }) %>
                        <% const avgRating = ratingsTotal / (game.reviews.length) %>
                        <%= avgRating %>
                    </td>
                    
                    <td><a href="/games/<%= game._id %>">INFO</a></td>
                    <td>EDIT</td>
                    <% if (user) { %>
                        <td>
                            <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
                                <button type="Submit">DELETE GAME</button>
                            </form>
                        </td>
                    <% } %>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>

<%- include('../partials/footer') %>