<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title>Document</title>
    </head>

    <body>
        <br>
        <section class="container text-center">
            <img src="<%= game.logo %>" alt="Game Logo" class="gamesShowLogo">
        </section>
        <br>
        <section class="container text-center">
            <h1><%= game.title %></h1>
            <br>
            <h4><%= game.genre %></h4>
            <h4>Average Rating: 
                <% let ratingsTotal = 0 %>
                <% game.reviews.forEach(function(r) { %>
                    <% ratingsTotal += r.rating %>
                <% }) %>
                <% const avgRating = ratingsTotal / (game.reviews.length) %>
                <%= avgRating %>
            </h4>
            <br>
            <p><%= game.description %></p>
        </section>
        <br>
        <br>
        <br>
        <section class="container">
            <h3>Reviews</h3>
            <% if (user) { %>
                <form id="add-review-form" method="POST" action="/games/<%= game._id %>/reviews">
                    <label>Rating
                        <select name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </label>
                    <label>Progress
                        <select name="progress">
                            <option value="In Progress">In Progress</option>
                            <option value="Completed">Completed</option>
                        </select>
                    </label>
                    <label>Content</label>
                    <input type="text" name="content">
                    <input type="submit" name="Add Review">
                </form>
            <% } else { %>
                <p>Please sign in to submit a review!</p>
            <% } %>
        </section>
        <br>
        <section class="container text-center">
            <% if(game.reviews.length) { %>
                <table>
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>Reviewer</th>
                            <th>Rating</th>
                            <th>Progress</th>
                            <th>Review Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% game.reviews.forEach(function(r) { %>
                            <tr>
                                <td><img src="<%= r.avatar %>" alt="Avatar"></td>
                                <td><%= r.userName %></td>
                                <td><%= r.rating %></td>
                                <td><%= r.progress %></td>
                                <td><%= r.content %></td>
                                
                                <td>
                                    <% if (user && user._id.equals(r.user)) { %>
                                        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                                            <button type="Submit">X</button>
                                        </form>
                                    <% } %>
                                </td>
                                <td> 
                                    <% if (user && user._id.equals(r.user)) { %>
                                        <form action="/reviews/<%= r._id %>?_method=PUT" method="POST">
                                            <label>Rating
                                                <select name="rating">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </label>
                                            <label>Progress
                                                <select name="progress">
                                                    <option value="In Progress">In Progress</option>
                                                    <option value="Completed">Completed</option>
                                                </select>
                                            </label>
                                            <label>Content</label>
                                            <input type="text" name="content">
                                            <button type="Submit">FINALIZE EDIT</button>
                                        </form>
                                    <% } %>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% } else { %>
                <p>No reviews yet!</p>
            <% } %>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>

</html>

<%- include('../partials/footer') %>